<!DOCTYPE html>
html (lang="ru")

    head
        title 112organic
        meta (charset="UTF-8")
        meta (name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
        meta (http-equiv="X-UA-Compatible" content="ie=edge")
        meta (name="keywords" content="")
        meta (name="description" content="")
        meta (name="format-detection" content="telephone=no")
        // favicon 
        link (rel="icon" type="image/png" href="" sizes="16x16")
        link (rel="icon" type="image/png" href="" sizes="32x32")
        link (rel="icon" type="image/png" href="" sizes="96x96")
        link (rel="apple-touch-icon" sizes="152x152" href="")
        //favicon 
        link (href="css/application.css" rel="stylesheet")
        link (rel="preconnect" href="https://fonts.googleapis.com")
        link (rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link (href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet")

    body class="" style="font-family: 'Source Sans Pro', sans-serif;"
    // Begin header 
    header.container.header
        div.row
            div.col-4.logo"
                a class=""
                    img src="img/logo.jpg" alt="Logo"           
            div class="col-8 navigation"
                nav class="row"
                    a class="col-2" href="/public/indexcopy.html"
                        b КАТАЛОГ
                    a class="col-3" href=""
                        b О КОМПАНИИ
                    a class="col-2" href=""
                        b ГДЕ КУПИТЬ
                    a class="col-2" href=""
                        b ОТЗЫВЫ
                    a class="col-2" href=""
                        b КОНТАКТЫ
    // End header/

    // Begin main
    main class="container" style="width: 100%; height: 1680px;"
        // Begin Slider
        div class="row"
            div class="col-12"
                section class=""
                    div class=""
                        section class=""
                            img class="slider" src="img/img_slid_1.jpg" alt="img_slid_1" 
                            h1 class="adverticement"Интенсивный 
                            br антицеллюлитный 
                            br крем для тела br 
                                i С эфирным маслом грейпфрута
                            button class="detail"ПОДРОБНЕЕ

                        //  <section class="">

                    1 class="" Интенсивный 
                    br антицеллюлитный 
                    br крем для тела  
                    button class=""Подробнее
                section class=""
                    h1 class=""Интенсивный 
                    br антицеллюлитный 
                    br крем для тела  
                    button class="" Подробнее
                section class=""
                    h1 class="" Интенсивный 
                    br антицеллюлитный 
                    br крем для тела
                    button class="" Подробнее

        //End Slider
        div class="row head_catalog"
            p class="col-10 catalog" Каталог продукции
            // Begin If we need navigation buttons 
            div class=" col-2 swiper-button-prev"
                button class="arrow_left"
                    img src="img/arrow_left.jpg" alt="arrow left" 
                button class="arrow_wright"
                    mg src="img/arrow_wright.jpg" alt="arrow wright" 
            div class="swiper-pagination"
            
            // End If we need navigation buttons
        
        div class="container"
            div class="row"
                div class="col-3"
                   a class=""
                        img src="img/Products/Bals_massag_270x268.jpg" alt="Bals_massag" 
                        br 
                        p
                            bБальзам для массажа тела
                        p
                            i Cнимает напряжение, 
                        br устраняет скованность движений
                div class="col-3"
                    a
                        img src="img/Products/Gel_oxlag_razogrev_270x268.jpg" alt="" 
                        br 
                        p
                            b Гель двойного действия 
                        br охлаждающе-разогревающий
                        br 
                        p
                            i При напряжении и усталости
                        br в мышцах 
                div class="col-3"
                    a
                        img src="img/Products/gel_trokserutin_270x268.jpg" alt="" 
                        br  
                        p 
                            b Гель для ног с троксерутином
                        p 
                            i При отечности и усталости ног
                div class="col-3"
                    a
                        img src="img/Products/krem_anticell_270x268.jpg" alt="" 
                        br 
                        p
                            b Интенсивный 
                            br антицеллюлитный крем
                            br для тела 
                        p
                            i C эфирным маслом грейпфрута
        div class="container head-whole-catalog"
            div class="row "
                div class="col-12"
                    center
                        button class="whole-cataloge" ВЕСЬ КАТАЛОГ
        div class="container"
            div class="row secret-nature"
                div class="col-6"
                div
                        p class="secret-nature-block" style="font-size: 25px;"
                            b Секреты Алтайской природы –
                        br 
                        br для здоровья каждого!!
                        p class="secret-nature-block"
                            b Именно этот принцип лежит в основе серии. Быстрая помощь 112.
                             br 
                            br  Уникальные растения,
                            настоящие сокровища Алтайской природы, 
                            br 
                            br веками использовались для сохранения здоровья, молодости, красоты 
                            br 
                            br и долголетия. Сочетая в себе научный подход с традиционными 
                            br
                            br рецептами,
                            продукты серии обеспечивают высокую эффективность и 
                            br 
                            br видимый результат!
                    div class="container secret-nature-block"
                        div class="row"
                            div class="col-5 text_green" 
                                a style="color: green;" Подробнее
                            div class="col-3 "
                                a
                                    img src="img/arrow_green.jpg" alt="" 
                           
                div class="col-6"
                    img class="image-secret-nature" src="img/pose-vernis-mains-pieds.jpg" alt="" 
                // #modal - это id элемента DIV, который будет определен в коде ниже

            
    //  End main 

    // Begin footer 
    footer class="footer" style="width: 100%; height: 320px;"
        div class="container"
            div class="row"
                div class="col-5"
                 ul
                        li Наш адрес: 105082, РФ, г. Москва,
                        li Переведеновский пер., д.13, стр. 23, пом. 3
                        br  
                        br  
                        li Тел.: 7 (495) 973-1-112
                        li Email: info@112organic.ru
                div class="col-3"
                    nav
                        ul
                            li href="#" class="" Каталог продукции 
                            br 
                            li href="#" class="" О компании
                            br 
                            li href="#" class="" Где купить
                            br 
                            li href="#" class="" Отзывы
                            br 
                            li href="#" class="" Контакты
                        

                div class="col-4"
                    div class="container "
                        div class="row"
                            div class="col-12 social-networks" Мы в социальных сетях
                       
                    div class="container"
                        div class="row"
                            div class="col-12"
                                div class="container"
                                    div class="row block-social-networks"
                                        a href="#" 
                                            img src="img/SocialNetworks/facebook.jpg"
                                                alt="facebook" 
                                        a href="#" 
                                            img class="img-margin-left" src="img/SocialNetworks/instagram.jpg"
                                                alt="instagram" 
                                        a href="#" 
                                            img class="img-margin-left" src="img/SocialNetworks/telegram.jpg"
                                                alt="telegram" 
                                        a href="#" 
                                            img class="img-margin-left" src="img/SocialNetworks/vk.jpg" alt="vk" 
                                        a href="#" 
                                            img class="img-margin-left" src="img/SocialNetworks/youtube.jpg"
                                                alt="youtube" 
        div class="container footer-info-bottom"
            div class="row"
                div class="col-7" © 2019 - 2022 г. 112 Органик
                div class="col-3"
                    ul
                        li Создание сайта

                    
     //End footer 

    //Begin modal 
    div class="modal"
    //End modal 

    //BEGIN scripts
    script src="https://code.jquery.com/jquery-3.6.0.min.js"
    script src="/node_modules/jquery/dist/jquery.js"
    script src="js/application.js"
    // END scripts
    div class="popup"
        
    